<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="300">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            {% assign heroText2 = site.heroTitle2 | split:"<typeout>" %}
            <h1 style="font-weight: 500; font-family: 'Monda', sans-serif;">{{heroText}} </h1>
            <h2 style="font-weight: 425; font-family: 'Monda', sans-serif;">{{heroText2}} </h2>
            <h4 style="font-weight: 350;font-family: 微軟正黑體, 'Monda', sans-serif;">
                <span class="hidden-xs" id="typeout-text"></span>
                <span class="typeout-fallback">{{ site.typeoutFallback }}</span>
            </h4>
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->